// Importation des variables.
@import 'variables';

//layout CSS - base/layout.scss

/* Gère les conteneurs droit et gauche et les séparations et espacement. */


// Base layout
.layout {
  display: flex;
  height: 0;
}

// Conteneur principal
.main-content {
  position:relative;
  margin-left: 30%;
  width: 70%;
  padding: 2rem;
  overflow-y: auto;
  margin-top: -200vh;
  background-color: $color-black;
}

// Cadre principal (conteneur externe)
.outer-frame {
  /* Couleur et taille de la bordure externe */
  border: 4px solid $color-decline-orange2;
  /* Coins arrondis */
  border-radius: 15px; 
  /* Espacement interne */
  padding: 2%; 
  /* Couleur de fond du cadre externe */
  background: $color-lightgrey; 
  /* Ombre subtile */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* Animation fluide */
  transition: transform 0.3s ease, box-shadow 0.3s ease; 

  &:hover {
    /* Légère mise en avant */
    transform: scale(1.05); 
    /* Ombre amplifiée */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
  }
}

// Cadre interne
.inner-frame {
  /* Couleur et taille de la bordure interne */
  border: 2px solid $color-decline-gold2; 
  /* Coins arrondis */
  border-radius: 10px; 
  /* Espacement interne */
  padding: 1.5%; 
  /* Couleur de fond du cadre interne */
  background: $color-black; 
  /* Ombre interne */
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); 

  &:hover {
    /* Légère mise en avant du cadre interne */
    transform: scale(1.02); 
    /* Changement de couleur de bordure */
    border-color: $color-decline-orange2; 
  }
}

.registration-wrapper {
  display: flex;
  /* Centre horizontalement */
  justify-content: center; 
  /* Centre verticalement */
  align-items: center; 
  /* Prend la hauteur disponible du parent */
  height: 100%; 
  /* Prend toute la largeur disponible */
  width: 100%; 
}

// Cadre principal (conteneur externe)
.outer-frame-registration {
  /* Couleur et taille de la bordure externe */
  border: 4px solid $color-decline-orange2;
  /* Coins arrondis */
  border-radius: 20px; 
  /* Largeur */
  width: 50%;
  /* Espacement interne */
  padding: 2%; 
  /* Couleur de fond du cadre externe */
  background: $color-lightgrey; 
  /* Ombre subtile */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* Animation fluide */
  transition: transform 0.3s ease, box-shadow 0.3s ease; 

  &:hover {
    /* Légère mise en avant */
    transform: scale(1.05);
    /* Ombre amplifiée */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
  }
}

// Cadre interne
.inner-frame-registration {
  /* Couleur et taille de la bordure interne */
  border: 2px solid $color-decline-gold2;
  /* Coins arrondis */
  border-radius: 15px;
  /* Espacement interne */
  padding: 1.5%;
  /* Couleur de fond du cadre interne */
  background: $color-black; 
  /* Ombre interne */
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); 

  &:hover {
    /* Légère mise en avant du cadre interne */
    transform: scale(1.02);
    /* Changement de couleur de bordure */
    border-color: $color-decline-orange2; 
  }
}

// Separations
@mixin separator($width, $margin) {
  width: $width;
  margin: $margin;
  border-bottom: 3px solid $color-decline-gold2;
}

.separation1 {
  @include separator(90%, 0 auto);
}

.separation2 {
  @include separator(80%, auto);
}

.space {
  height: 10vh;
}

.space2 {
  height: 5vh;
}

//--------------------------------------------------
// Media Queries pour la Responsivité
//--------------------------------------------------


/* Mobile - Portrait (max-width: 599px) */
@media (max-width: 599px) {
  .layout {
    /* Afficher la mise en page en colonne */
    flex-direction: column; 
    height: 10vh;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
    top: 0;
  }

  .outer-frame, .inner-frame {
    padding: 5%;
    width: 100%;
  }

  .outer-frame-registration {
    width: 80%;
  }
}

/* Mobile - Paysage (min-width: 600px et max-width: 899px) */
@media (min-width: 600px) and (max-width: 899px) {
  .layout {
    /* Afficher la mise en page en colonne */
    flex-direction: column; 
    height: 30vh;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
    top: 0;
  }

  .outer-frame, .inner-frame {
    padding: 5%;
    width: 100%;
  }

  .outer-frame-registration {
    width: 70%;
  }
}

/* Tablette - Portrait (min-width: 900px et max-width: 1199px) */
@media (min-width: 900px) and (max-width: 1199px) {
  .layout {
    /* Retour à une mise en page en ligne */
    flex-direction: row; 
    height: 25vh;
  }

  .main-content {
    margin-left: 25%;
    width: 75%;
  }

  .outer-frame, .inner-frame {
    padding: 3%;
    width: 100%;
  }

  .outer-frame-registration {
    width: 60%;
  }
}

/* Tablette - Paysage (min-width: 1200px et max-width: 1399px) */
@media (min-width: 1200px) and (max-width: 1399px) {
  .layout {
    /* Retour à une mise en page en ligne */
    flex-direction: row; 
  }

  .main-content {
    margin-left: 25%;
    width: 75%;
  }

  .outer-frame, .inner-frame {
    padding: 3%;
    width: 100%;
  }

  .outer-frame-registration {
    width: 50%;
  }
}