// Importation des variables.
@import 'variables';
// Importation taille responsive.
@import 'responsive-size';


//==================================//
//   layout CSS - base/layout.scss  //
//==================================//


// Gestion des conteneurs droit et gauche et les séparations et espacement //

//-------------//
// Base layout //
//-------------//

.layout {
  display: flex;
  height: 0;
}

// Conteneur principal
.main-content {
  position:relative;
  margin-left: 30%;
  width: 70%;
  padding: 2rem;
  overflow-y: auto;
  margin-top: -200vh;
  background-color: $color-black;
}
//-------------------------------------------


//=======================================//
//  Cadre principal (conteneur externe)  //
//=======================================//

.outer-frame {
  /* Couleur et taille de la bordure externe */
  border: 4px solid $color-decline-orange2;
  /* Coins arrondis */
  border-radius: 10px; 
  /* Espacement interne */
  padding: 2%; 
  /* Couleur de fond du cadre externe */
  background: $color-lightgrey; 
  /* Ombre subtile */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* Animation fluide */
  transition: transform 0.3s ease, box-shadow 0.3s ease; 

  &:hover {
    /* Légère mise en avant */
    transform: scale(1.05); 
    /* Ombre amplifiée */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
  }
}
//---------------------------------------------------------


//==========================//
// Cadre interne principal  //
//==========================//

.inner-frame {
  /* Couleur et taille de la bordure interne */
  border: 2px solid $color-decline-gold2; 
  /* Coins arrondis */
  border-radius: 10px; 
  /* Espacement interne */
  padding: 1.5%; 
  /* Couleur de fond du cadre interne */
  background: $color-black; 
  /* Ombre interne */
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); 

  &:hover {
    /* Légère mise en avant du cadre interne */
    transform: scale(1.02); 
    /* Changement de couleur de bordure */
    border-color: $color-decline-orange2; 
  }
}
//-------------------------------------------------


//================================//
// Conteneur principal secondaire //
//================================//

.registration-wrapper {
  display: flex;
  /* Centre horizontalement */
  justify-content: center; 
  /* Centre verticalement */
  align-items: center; 
  /* Prend la hauteur disponible du parent */
  height: 100%; 
  /* Prend toute la largeur disponible */
  width: 100%; 
}
//----------------------------------------------------


//================================================//
// Cadre principal secondaire (conteneur externe) //
//================================================//

.outer-frame-registration {
  /* Couleur et taille de la bordure externe */
  border: 4px solid $color-decline-orange2;
  /* Coins arrondis */
  border-radius: 20px; 
  /* Largeur */
  width: 50%;
  /* Espacement interne */
  padding: 2%; 
  /* Couleur de fond du cadre externe */
  background: $color-lightgrey; 
  /* Ombre subtile */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* Animation fluide */
  transition: transform 0.3s ease, box-shadow 0.3s ease; 

  &:hover {
    /* Légère mise en avant */
    transform: scale(1.05);
    /* Ombre amplifiée */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
  }
}
//-----------------------------------------------


//===============================//
//    Cadre interne secondaire   //
//===============================//

.inner-frame-registration {
  /* Couleur et taille de la bordure interne */
  border: 2px solid $color-decline-gold2;
  /* Coins arrondis */
  border-radius: 8px;
  /* Espacement interne */
  padding: 1.5%;
  /* Couleur de fond du cadre interne */
  background: $color-black; 
  /* Ombre interne */
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); 

  &:hover {
    /* Légère mise en avant du cadre interne */
    transform: scale(1.02);
    /* Changement de couleur de bordure */
    border-color: $color-decline-orange2; 
  }
}
//---------------------------------------------


//================//
//  Séparations   //
//================//

@mixin separator($width, $margin) {
  width: $width;
  margin: $margin;
  border-bottom: 3px solid $color-decline-gold2;
}

.separation1 {
  @include separator(90%, 0 auto);
}

.separation2 {
  @include separator(80%, auto);
}

.space {
  height: 10vh;
}

.space2 {
  height: 5vh;
}
//----------------------------------------------


//====================================//
//          Responsive design         //
//====================================//

// Mobile - Portrait (max-width: 599px)
//------------------------------------------
@include respond-max($breakpoint-xs) {
  .layout {
    /* Afficher la mise en page en colonne */
    flex-direction: column; 
    height: 10vh;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
    top: 0;
  }

  .outer-frame, .inner-frame {
    padding: 2%;
    width: 100%;
  }

  .outer-frame-registration {
    width: 85%;
  }

  .space {
    height: 7vh;
  }

  .space2 {
    height: 3vh;
  }

  .space-annonce {
    height: 1vh;
  }
}
//----------------------------------------------------


// Mobile - Paysage (min-width: 600px et max-width: 768px)
//----------------------------------------------------
@include respond-between($breakpoint-xs + 1, $breakpoint-sm) {
  .layout {
    /* Afficher la mise en page en colonne */
    flex-direction: column; 
    height: 30vh;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
    top: 0;
  }

  .outer-frame, .inner-frame {
    padding: 3%;
    width: 100%;
  }

  .outer-frame-registration {
    width: 80%;
  }

  .space {
    height: 7vh;
  }

  .space2 {
    height: 3vh;
  }

  .space-annonce {
    height: 1vh;
  }
}
//---------------------------------------------------------------


// Tablette - Portrait (min-width: 769px et max-width: 1024px)
//-------------------------------------------------------------
@include respond-between($breakpoint-sm + 1, $breakpoint-md) {
  .layout {
    /* Retour à une mise en page en ligne */
    flex-direction: row; 
    height: 25vh;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .outer-frame, .inner-frame {
    padding: 3%;
    width: 100%;
  }

  .outer-frame-registration {
    width: 75%;
  }

  .space {
    height: 8.5vh;
  }

  .space2 {
    height: 4vh;
  }

  .space-annone {
    height: 1.5vh;
  }
}
//--------------------------------------------------------


// Tablette - Paysage (min-width: 1025px et max-width: 1400px)
//-----------------------------------------------------------------
@include respond-between($breakpoint-md + 1, $breakpoint-xl) {
  .layout {
    /* Retour à une mise en page en ligne */
    flex-direction: row; 
  }

  .main-content {
    margin-left: 30%;
    width: 75%;
  }

  .outer-frame, .inner-frame {
    padding: 3%;
    width: 100%;
  }

  .outer-frame-registration {
    width: 80%;
  }
}
//------------------------------------------------