// Importation des variables.
@import 'variables';
// Importation tailles responsive.
@import 'responsive-size';


//=======================================//
// typography css - base/typography.scss //
//=======================================//

/* Personnalisation des titres, paragraphes et éléments de contenus */


//============================================================================//
// Gestion des titres de la section de l'espace de commentaire, devis et chat //
//============================================================================//


/*h1*/
h1.comment-title {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: $font-size-xxxl;
  text-decoration: underline;
}

/* Titre de la section laisser un commentaire */
h3.comment-subtitle {
/* Centre le texte horizontalement */
  font-size: $font-size-xxl;
}
//-------------------------------------------------------


// Gestion des titres des pages mentions et politiques devis et chat.
//-----------------------------------------------------------------
.h1-politique {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: $font-size-xxxl;
  text-decoration: underline;
  }

.h2-politique {
  font-size: $font-size-xxl;
}

.h1-devis {
  font-size: $font-size-xxxl;
  color: $color-decline-gold2;
  display: flex;
  /* Centre verticalement */
  align-items: center;
  /* Centre horizontalement */
  justify-content: center;
  /* Optionnel, pour garantir que le texte est bien centré */
  text-align: center; 
}

.h2-devis {
  font-size: $font-size-xxl;
  /* Centrage horizontal du conteneur */
  margin: 0 auto; 
  /* Bordure */
  border: 1px solid $color-decline-orange2;
  display: flex;
  /* Centre verticalement */
  align-items: center;
  /* Centre horizontalement */
  justify-content: center; 
  /* Assure que le texte est bien centré */
  text-align: center; 
}
//-----------------------------------------------------------


//=======================//
//  Responsive Desiign   //
//=======================//

/* Pour les tablettes paysage max : 1024px */
@include respond-max($breakpoint-md) {
  h1.comment-title {
    width: 70%;
    font-size: $font-size-xxl;
  }
  
  /* Titre de la section laisser un commentaire */
  h3.comment-subtitle {
  /* Centre le texte horizontalement */
    font-size: $font-size-xl;
  }

  .h1-politique {
    width: 70%;
    font-size: $font-size-xl;
  }

  .h2-politique {
    font-size: $font-size-lg;
  }
}
//-------------------------------------------------------


/* Pour les tablettes portrait max : 768px */
@include respond-max($breakpoint-sm) {
  h1.comment-title {
    width: 80%;
    font-size: $font-size-xl;
  }

  /* Titre de la section laisser un commentaire */
  h3.comment-subtitle {
  /* Centre le texte horizontalement */
    font-size: $font-size-lg;
  }

  .h1-politique {
    width: 80%;
    font-size: $font-size-xl;
  }

  .h2-politique {
    font-size: $font-size-lg;
  }
}
//------------------------------------------------


/* Pour les téléphones portrait max : 599px */
@include respond-max($breakpoint-xs) {
  h1.comment-title {
    width: 90%;
    font-size: $font-size-xl;
  }

  /* Titre de la section laisser un commentaire */
  h3.comment-subtitle {
  /* Centre le texte horizontalement */
    font-size: $font-size-lg;
  }

  .h1-politique {
    width: 90%;
    font-size: $font-size-lg;
  }

  .h2-politique {
    font-size: $font-size-base;
  }
}
//--------------------------------------------------