{% extends 'baseback.html.jinja2' %}

{% block head_content %}
<meta name="description"
      content="Page du backend afin d'afficher la liste des rendez-vous pour le chat vidéo avec administrateur de SethiarWorks.">
<title>{% block title %}Page administrateur - Calendrier pour chat vidéo{% endblock %}</title>

<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" rel="stylesheet"/>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/fr.min.js"></script>

{% endblock %}

{% block body_content %}
<div class="space"></div>
<h5 class="h5-backend">Liste des demandes de chat vidéo</h5>
<div class="space2"></div>
<div id="table-appointment" class="table-appointment">
    <table class="table">
        <thead>
        <tr>
            <th>Nom de l'entreprise</th>
            <th>Date choisie par l'utilisateur</th>
            <th>heure choisie par l'utilisateur</th>
            <th>Statue de la requête</th>
            <th>Lien de connexion Administrateur</th>
            <th>Envoi du lien utilisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for request in requests %}
        <tr>
            <td>{{ request.enterprise_name }}</td>
            <td>{{ moment(request.date_rdv).format("DD/MM/YYYY") }}</td>
            <td>{{ moment(request.heure).format("HH:00") }}</td>
            <td>{{ request.status }}</td>
            <td>
                {% if request.status == ChatRequestStatus.ACCEPTEE %}
                {% set rdv = rdv_data | selectattr("enterprise_name", "equalto", request.enterprise_name) | first %}
                {% if rdv %}
                <a href="{{ rdv.link }}" target="_blank" class="link">Lien de connexion</a>
                {% else %}
                Non disponible
                {% endif %}
                {% else %}
                Non disponible
                {% endif %}
            </td>
            <td>
                {% if request.status == ChatRequestStatus.ACCEPTEE %}
                <form action="{{ url_for('chat.send_user_link', id=request.id) }}" method="POST" class="btn_send">
                    {{ formlink.csrf_token }}
                    <input type="text" name="chat_link" placeholder="Lien pour l'utilisateur" required>
                    <button type="submit">Envoyer</button>
                </form>
                {% else %}
                Non disponible
                {% endif %}
            </td>
            <td>
                <div class="actions-buttons">
                    <!-- Bouton de suppression de la requête -->
                    <form action="{{ url_for('chat.suppress_request', id=request.id) }}" method="POST">
                        {{ formrequest.csrf_token }}
                        <button type="submit">
                            Supprimer <i class="fas fa-trash"></i>
                        </button>
                    </form>

                    <!-- Bouton de validation de la requête -->
                    <form action="{{ url_for('chat.valide_request', id=request.id) }}" method="POST">
                        {{ formrequest.csrf_token }}
                        <button type="submit">
                            Valider la requête <i class="fas fa-thumbs-up"></i>
                        </button>
                    </form>

                    <!-- Bouton de refus de la requête -->
                    <form action="{{ url_for('chat.refuse_request', id=request.id) }}" method="POST">
                        {{ formrequest.csrf_token }}
                        <button type="submit">
                            Refuser la requête <i class="fas fa-thumbs-down"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br><br>
<div class="container">
    <h5>Calendrier des Rendez-vous</h5>
    <br>
    <div id="calendar" class="calendar"></div>
</div>

<!-- Passer les données JSON au fichier JavaScript externe -->
<script>
    var rdvData = [
        {% for rdv in rdv_data %}
        {
            title: '{{ rdv.pseudo|replace("'", "\\'") }} - {{ rdv.status|replace("'", "\\'") }}',
            start: '{{ rdv.date_rdv.strftime("%Y-%m-%dT%H:%M:%S") }}',
            allDay: false,
            content: '{{ rdv.content|replace("'", "\\'") }}'
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ];

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            events: rdvData,
            eventClick: function(info) {
                window.open(info.event.url, '_blank');
                info.jsEvent.preventDefault();
            },
            eventColor: '#378006',
            eventTextColor: 'black'
        });
        calendar.render();
    });
</script>


<script src="{{ url_for('static', filename='javascript/calendar.js') }}" defer></script>

{% endblock %}