{% extends 'baseback.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="page du backend pour gérer les statuts des sujets créés par les anonymes.">
    <title>{% block title %}Page administrateur - Validation des sujets anonymes{% endblock %}</title>
{% endblock %}

{% block body_content %}
<div class="space2"></div>

<div class="backend-container">
    <h5 class="h5-devis">Liste des sujets anonymes non validés</h5>

    <div class="space2"></div>
    {% for status, subject_anonymous_list in grouped_subject_anonymous.items() %}
    <h6 class="mt-4"> {{ status | capitalize }}</h6>
    <table class="table">
        <thead>
            <tr>
                <th>Sujet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for subject_anonymous in subject_anonymous_list %}
            <tr>
                <td>{{ subject_anonymous.name }}</td>
                <td>
                    <a href="{{ url_for('admin.validate_subject_anonymous', id=subject_anonymous.id) }}"
                        class="btn btn-success btn-sm">
                        Valider
                    </a>
                    <a href="{{ url_for('admin.reject_subject_anonymous', id=subject_anonymous.id) }}"
                        class="btn btn-danger btn-sm">
                        Rejeter
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}
    <script>
        // Option JS
    </script>
{% endblock %}