{% extends 'baseerror.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Page d'erreur 404 – Page introuvable">
    <title>{% block title %}Erreur 404 - Page introuvable{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='gen/style.css') }}?v=1.0">
{% endblock %}

{% block main_content %}

<div class="error-container">

    <img class="error-image" src="{{ url_for('static', filename='images/images_error/image_404.png') }}" alt="Image 404">

    <div class="error-annonce">

        <h1 class="error-h1">Salutations</h1>

        <p class="error-sentence">
            Nous vous prions de bien vouloir nous excuser. La page que vous tentez d’atteindre est introuvable.
        </p>

        <p class="error-sentence">
            Cela peut être dû à :
        </p>

        <ul class="error-list">
            <li>Une erreur dans l’adresse URL saisie</li>
            <li>Une page déplacée ou supprimée</li>
            <li>Un dérangement temporaire du site</li>
        </ul>

        <p class="error-sentence">
            Vous pouvez revenir à l'accueil en cliquant ici :
            <a class="error-link" href="{{ url_for('landing_page') }}">Retour à l’accueil</a>.
        </p>

        <p class="error-sentence">
            Merci de votre compréhension et à très bientôt sur <b>SethiarWorks</b>.
        </p>

    </div>
</div>

{% endblock %}