// Importation de variables.scss
@import '../base/variables';
// Importation taille responsive
@import '../base/responsive-size';


//=========================================//
//   Button CSS - Components/Buttons.scss  //
//=========================================//

/* Regroupement des styles communs aux boutons */
%btn-common {
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
}

.btn-primary, .btn-primary-registration {
  @extend %btn-common;
  padding: 2% 4%;
  font-size: $font-size-base;
  background-color: $color-primary;
  color: $color-white;

  &:hover {
    /* Légère mise en avant du cadre interne */
    transform: scale(1.02);
    /* Ombre amplifiée */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
    background-color: $color-decline-orange2;
    border: 2px solid $color-white;
    color: $color-white;
  }
}

.btn-primary-registration {
  display: block;
  margin: 0 auto;
  /* Ajuste pour des écrans plus larges */
  width: 60%;  
}

 /* Action communes des boutons du site */
.btn-secondary {
  @extend %btn-common;
  padding: 2% 3%;
  font-size: $font-size-base;
  background-color: $color-white;
  color: $color-primary;

  &:hover {
    /* Légère mise en avant du cadre interne */
    transform: scale(1.02);
    /* Ombre amplifiée */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    background-color: $color-primary;
    color: $color-white;
    border: 1px solid $color-black;
  }
}
//----------------------------------------------------


//========================//
// Bouton des formulaires //
//========================//

.cancelled-btn, .validated-btn {
  @extend %btn-common;
  display: inline-block;
  width: 80%;
  padding: 2% 3%;
  text-align: center;
  font-size: $font-size-xl;
  cursor: pointer;
}

.cancelled-btn {
  background-color: $color-accent-darkred;
  color: $color-white;

  &:hover {
    /* Légère mise en avant du cadre interne */
    transform: scale(1.02);
    /* Ombre amplifiée */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    background-color: $color-accent-darkred2;
    color: $color-white;
  }
}

.validated-btn {
  background-color: $color-primary;
  color: $color-white;
  
  &:hover {
    /* Légère mise en avant du cadre interne */
    transform: scale(1.02);
    /* Ombre amplifiée */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    background-color: $color-decline-orange2;
    border: 1px solid $color-decline-gold2;
  }
}
//---------------------------------------------------


//==================================================//
// Boutons et conteneurs de l'espace de commentaire //
//==================================================//

.btn-annonce {
  /* Indentation première ligne */
  text-indent: 0;
  display: inline-flex;
  /* Centrer horizontalement */
  justify-content: center;
}

/* Champ du conteneur */
.form.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;  
  gap: 20%;
}

/* Champ de saisie */
.form .field {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  line-height: 3rem;
  max-width: 60%;
  justify-content: center;
}

.form .field input {
  /* Espacement interne */
  
  text-align: center;
  padding: 1.2%;             
  font-size: $font-size-xl;
  /* Bordure fine autour du champ */
  border: 1px solid $color-decline-gold2; 
  /* Coins arrondis */
  border-radius: 8px;
  /* Transition lors du focus */
  transition: border-color 0.3s ease; 
  
  &:hover {
    border-color: $color-neutral-darkgrey;    
    outline: none;              
  }
}

.btn-container-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

//--------------------------------------------------------


//===========================//
//    Bouton du backend      //
//===========================//

/* Bouton de navigation */
//----------------------------------------
nav button {
  @extend %btn-common;
  background-color: $color-primary;
  color: $color-white;
  border: 2px solid $color-white;
  padding: 1% 2%;

  &:hover {
    /* Légère mise en avant du cadre interne */
    transform: scale(1.02);
    /* Ombre amplifiée */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    background-color: $color-decline-orange2;
    border: 2px solid $color-decline-gold1;
  }
}

/* Button containers */
//----------------------------------------
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.btn-container button {
  width: 70%;
  padding: 10px 20px;
  background-color: $color-primary;
  color: $color-white;
  border: none;
  font-size: $font-size-base;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-container button a {
  text-decoration: none;
  color: $color-white;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;

  &:hover {
    /* Légère mise en avant du cadre interne */
    transform: scale(1.02);
    /* Ombre amplifiée */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    background-color: $color-decline-orange2;
    border: 2px solid $color-decline-gold2;
  }
}
//-----------------------------------------------------


//======================//
//   Responsive design  //
//======================//

/* Grand écran ( > 1025px ) */
//------------------------------------------
@include respond-min($breakpoint-md + 1) {
  .btn-primary, .btn-secondary, .cancelled-btn, .validated-btn {
    padding: 2% 5%;
    font-size: $font-size-lg;
  }
}


/* Tablette ( < 1024px )*/
//-------------------------------------------
@include respond-max($breakpoint-md) {
  .btn-primary-registration {
    /* Plus large sur les tablettes */
    width: 80%;  
  }

  .btn-primary, .btn-secondary, .cancelled-btn, .validated-btn {
    padding: 2% 5%;
    font-size: $font-size-base;
  }
}
//-------------------------------------------


/* Mobile ( < 768px)*/
//-------------------------------------------
@include respond-max($breakpoint-sm) {
  .btn-primary-registration {
    /* S'adapte complètement sur mobile */
    width: 100%;  
  }

  .btn-primary, .btn-secondary, .cancelled-btn, .validated-btn {
    font-size: $font-size-base;
  }

  .btn-container button {
    /* Les boutons prennent toute la largeur de l'écran */
    width: 100%;  
  }
  
  /* Conteneur des boutons de l'accueil header */
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10%;
    padding: 0 1.5%;
  }
}
//-------------------------------------------