// Importation des variables.
@import '../base/variables';
// Importation taille responsive.
@import '../base/responsive-size';


//===================================//
// Forms CSS - Components/forms.scss //
//===================================//


/* Style général des formulaires */
//-----------------------------------------
.annonce {
  color: $color-black;
  border: 1px solid $color-decline-gold2;
  font-size: $font-size-xxl;
  /* Espacement interne */
  padding: 2%;
  /* Alignement du texte */
  text-align: justify;
  /* Indentation première ligne */
  text-indent: 2em;
  /* Centrage horizontal */
  justify-content: center;
  /* Centrage vertical */
  align-items: center;
  /* Hauteur adaptable au contenu */
  height: auto;
  /* Centrage horizontal du conteneur */
  margin: 0 auto;
  /* Largeur maximale */
  max-width: 50%;
  /* Ombre pour style */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  /* Coins arrondis */
  border-radius: 8px;
  /* Fond optionnel */
  background-color: $color-neutral-darkgrey; 
}
//------------------------------------------


//==============================//
// Styles du logo du formulaire //
//==============================//

.imgcontainer-form {
  display: flex;
  justify-content: center;
  margin: 24px 0 12px 0;
}

/* Image avatar dans le formulaire */
img.avatar-form {
  width: 45%;
  align-items: center;
  /* Animation fluide pour le zoom et l'ombre */
  transition: transform 0.3s ease, box-shadow 0.3s ease; 

  /* Effet de zoom au survol */
  &:hover {
    /* Agrandit l'image à 110% de sa taille originale */
    transform: scale(1.1); 
    /* Ajoute une ombre au survol */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); 
  }
}
//----------------------------------------------------


//============//
// Espacement //
//============//

.space-form {
  height: 4vh;
}

.space-annonce {
  height: 1.5vh;
}

.space-inter-form {
  height: 1.8vh;
}
//-------------------------------------------


//=====================//
// Titre du formulaire //
//=====================//

.h2-form {
  color: $color-primary;
  text-align: center;
}

.h3-form {
  text-decoration: underline;
  color: $color-decline-orange2;
  font-size: $font-size-xxxl;
  text-align : center;
}
//----------------------------------------


//=================================//
// Gestion conteneur du formulaire //
//=================================//

.form-base {
  background-color: $color-black;
  border: 2px solid $color-decline-orange2;
  padding: 2%;
  font-size: $font-size-xxl;
  max-width: 40vw;
  margin: 3% auto;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
//--------------------------------------------------


//==============================//
// Gestion conteneur des champs //
//==============================//

.form-container {
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  /* Augmente l'écart entre les champs */
  gap: 15px; 

  .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* Occupation de toute la largeur disponible */
    width: 70%; 

    label {
      font-size: $font-size-xl;
      display: block;
      font-weight: bold;
      color: $color-white;
      margin-bottom: 1.5%;
      background-color: transparent;
    }

    input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      border-radius: 12px;
      display: inline-block;
      box-sizing: border-box;
      font-size: $font-size-xl;
      background-color: $color-lightgrey;
      color: $color-black;

      &:hover {
        background-color: $color-neutral-darkgrey;
        border: 1px solid $color-decline-gold2;
      }
    }
  }

  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: 7%;
    transform: translateY(-50%);
    cursor: pointer;
    color: $color-black;
    font-size: $font-size-xl;
  }
}
//------------------------------------------


//===============================//
// Lien pour mot de passe oublié //
//===============================//

.forgot-password {
  text-align: center;
  margin-bottom: 2%;
}

.forgot-password-a {
  color: $color-decline-orange2;
  padding: 2% 3%;
}

.container-btn {
  border: 1px solid $color-lightgrey;
  border-radius: 5px;
  padding: 15px;
  font-size: $font-size-xxl;
  margin-top: 20px;
  text-align: center;
}
//-----------------------------------------


//==============================//
// Formulaire de devis checkbox //
//==============================//

/* Style des cases à cocher */
.checkbox-group input[type="checkbox"] {
  /* Couleur de la case cochée. */  
  accent-color: $color-decline-gold2; 
}

/* Change la couleur de la case à cocher quand elle est cochée */
.checkbox-group input[type="checkbox"]:checked {
  /* Case cochée OR */  
  background-color: $color-decline-gold1; 
  /* Couleur de la bordure de la case */
  border-color: $color-decline-orange2;     
}

/* Change la couleur de l'élément quand il est cochée et est entouré d'un label */
.checkbox-group label {
  /* Couleur du texte du label*/
  color: $color-black;  
}

/* Couleur de la case en survol */
.checkbox-group input[type="checkbox"]:hover {
  /* Un or légèrement plus clair */  
  background-color: $color-neutral-darkgrey;
  /* Bordure d'or */   
  border-color: $color-decline-orange1; 
}
//--------------------------------------------------------



//==========================//
//    Responsive design     //
//==========================//

/* Mobile < 769px */
@include respond-max($breakpoint-xs) {
  .annonce {
    max-width: 95%;
    /* Espacement interne */
    padding: 5%;
    /* Pas de marges externes */
    margin: 0 auto; 
  }

  .h3-form {
    font-size: $font-size-xl;
  }

  /* Pas de styles marges pour mobile */
  .form-base {
    max-width: 100%; 
    /* Ajustement de la taille du texte */
      font-size: $font-size-xl; 
    /* Pas de marges externes */
    margin: 0; 
  }

  .form-container {
    /* Espacement réduit pour les champs */
    gap: 8px; 
  }

  .form-group {
    label {
      /* Ajustement de la taille du texte */
      font-size: $font-size-xl; 
    }

    input {
      /* Ajuste la taille des champs */
      font-size: $font-size-xl; 
    }
  }

  .container-btn {
    /* Ajustement du padding du bouton */
    padding: 1.2%; 
    /* Ajustement de la taille du texte */
    font-size: $font-size-xl; 
  }
}

/* Tablettes en paysage < 1025px */
@include respond-max($breakpoint-md) {
  .annonce {
     /* Réduction de la largeur par rapport aux tablettes en portrait */
    max-width: 60%;
    padding: 3%;
  }

  img.avatar-form {
    width: 65%;
  }

  .h3-form {
    font-size: $font-size-xxl;
  }

  .form-base {
    /* Ajuste la largeur pour ne pas trop prendre de place */ 
    max-width: 45vw;
    /* Ajuste la marge */
    margin: 2% auto; 
  }

  .form-container {
    /* Espacement réduit entre les champs */
    gap: 15%; 
  }

  .form-group {
    label {
      font-size: $font-size-xl;
    }

    input {
      font-size: $font-size-xl;
    }
  }

  .container-btn {
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
    padding: 1.4%;
  
    button, a {
      font-size: $font-size-base;
    }
  }
}
//---------------------------------------------

