// Importation des variables
@import '../base/variables';
// Importation taille responsive
@import '../base/responsive-size';


//======================================================//
// Styles pour les pages Politique et Mentions Légales  //
//======================================================//


//============//
//   Cadres   //
//============//

/* Cadre principal */
.outer-frame-politique {
  border: 4px solid $color-decline-orange2;
  border-radius: 8px;
  padding: 2%;
  margin: 10%;
  background: $color-lightgrey;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    /* Légère mise en avant */
    transform: scale(1.02);
    /* Ombre amplifiée */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
}

/* Cadre interne */
.inner-frame-politique {
  border: 2px solid $color-decline-gold2;
  border-radius: 8px;
  padding: 1.5%;
  background: $color-black;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}
//-----------------------------------------------------


//=========//
// Général //
//=========//

.politique-main {
  padding: 4% 2%;
  background-color: $color-black;
  color: $color-white;
  line-height: 1.6;
}
//------------------------------------------------------


//======================//
//   Titre principal    //
//======================//

.politique-title {
  font-size: $font-size-xxxl;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3%;
  color: $color-white;
}
//----------------------------------------------------


//=========//
// En-tête //
//=========//

.politique-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2%;

  .politique-update {
    font-size: $font-size-xl;
    color: $color-decline-gold2;
  }

  .politique-home-link {
    font-size: $font-size-xl;
    color: $color-decline-orange1;
    text-decoration: none;
    margin-top: 1%;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      color: $color-decline-gold2;
      /* Légère mise en avant */
      transform: scale(1.1);
    }
  }
}
//--------------------------------------------


//======================//
// Barre de séparation  //
//======================//

.politique-divider {
  border: none;
  height: 2px;
  background-color: $color-decline-gold2;
  margin: 2% 0;
}
//-----------------------------------------------


//=======//
// Logo  //
//=======//

.politique-logo {
  display: flex;
  justify-content: center;
  margin: 3% 0;

  .politique-logo-img {
    width: 20%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Animation fluide */
    transition: transform 0.3s ease;

    &:hover {
      /* Légère mise en avant */
      transform: scale(1.05);
    }
  }
}
//-------------------------------------------


//===============================//
//      Contenu principal        //
//===============================//

.politique-content {
  max-width: 90%;
  margin: 0 auto;
  padding: 4% 2%;
  border: 1px solid $color-lightgrey;

  .politique-section {
    margin-bottom: 4%;

    .politique-subtitle {
      font-size: $font-size-xxl;
      font-weight: bold;
      text-decoration: underline;
      padding: 4%;
      color: $color-decline-gold2;
      margin-bottom: 1%;
    }

    p {
      font-size: $font-size-xl;;
      margin-bottom: 1.5%;
      text-indent: 2em;
      line-height: 1.8;
    }

    .politique-list {
      margin: 0;
      padding: 0;
      padding-left: 2%;
      padding-right: 5%;

      li {
        font-size: $font-size-xl;
        list-style-type: disc;
        margin-bottom: 1%;
        text-indent: 2em;
      }
    }
  }
}
//----------------------------------------


//====================================// 
// Introduction politique avec cadre  //
//====================================//

.intro-politique {
  border: 2px dashed $color-decline-orange2;
  border-radius: 10px;
  padding: 2%;
  background: $color-lightgrey;
  font-size: $font-size-xxl;
  color: $color-primary;
  text-align: justify;
  line-height: 1.8;
  margin-bottom: 3%;

  &:hover {
    background: lighten($color-lightgrey, 10%);
    border-color: $color-decline-gold2;
    transition: background 0.3s ease, border-color 0.3s ease;
  }

  p {
    text-indent: 2em;
  }
}
//--------------------------------------------------------


//=======//
// liens //
//=======//

.links {
  color: $color-decline-gold1 !important;

  &:hover {
    color: $color-decline-orange2 !important;
  }
}
//--------------------------------------------------------


//=========//
// Footer  //
//=========//

.politique-footer {
  text-align: center;
  margin-top: 15%;
  font-size: $font-size-xl;
  color: $color-neutral-darkgrey;

  p {
    font-style: italic;
  }
}
//-----------------------------------------------------------


//=====================//
//   Responsiv design  //
//=====================//

/* Pour les écrans de 768px à 1199px (tablettes) */
@include respond-between($breakpoint-sm + 1, $breakpoint-lg) {
  .outer-frame-politique {
    margin: 8%;
    padding: 2.5%;
  }

  .politique-header {
    .politique-update {
      font-size: $font-size-lg;
    }  
  }

  .politique-main {
    padding: 4% 2.5%;
  }

  .politique-title {
    font-size: $font-size-xxl;
  }

  .politique-content {
    max-width: 85%;
  }
}
//----------------------------------------------------------


/* Pour les écrans de 480px à 767px (mobiles en paysage et petites tablettes) */
@include respond-between($breakpoint-xxs + 1, $breakpoint-sm) {
  .outer-frame-politique {
    margin: 12%;
    padding: 2%;
  }
  
  .politique-header {
    .politique-update {
      font-size: $font-size-base;
    }  
  }

  .politique-main {
    padding: 3% 1.5%;
  }

  .politique-title {
    font-size: $font-size-xxl;
  }

  .politique-content {
    max-width: 90%;
  }

  .politique-footer {
  margin-top: 10%;
  }
}

//------------------------------------------------------------


/* Pour les écrans de moins de 480px (mobiles) */
@include respond-max($breakpoint-xxs) {
  .outer-frame-politique {
    margin: 10%;
    padding: 1.5%;
  }

  .politique-main {
    padding: 2% 1%;
  }

  .politique-header {
    .politique-update {
      font-size: $font-size-base;
    }  
  }

  .politique-title {
    font-size: $font-size-xl;
  }

  .politique-content {
    max-width: 100%;
  }

  .politique-footer {
  margin-top: 10%;
  }
}
//-----------------------------------------------------------------