{% extends 'base.html.jinja2' %}

{% block head_content %}
<meta name="description"
      content="Forum du site permettant de discuter, interagir et donner son avis sur le site de l'entreprise SethiarWorks.">
<title>{% block title %}Bienvenue sur le forum du blog{% endblock %}</title>

<!-- CSS Principal -->
<link rel="stylesheet" href="{{ url_for('static', filename='gen/style.css') }}?v=1.0">
{% endblock %}

{% block header_content %}
{% endblock %}

{% block main_content %}

<!-- conteneur principal -->
<div class="main-content">

    <!-- cadre extérieur -->
    <div class="outer-frame-politique">

        <!-- cadre intérieur -->
        <div class="inner-frame-politique">

            <!-- division de retour à la page d'accueil -->
            <div class="back-link-comment">
                <a class="btn-primary desktop-only" href="{{ url_for('landing_page') }}">
                    Retour à la page d'accueil
                </a>
                
                <!-- Version icône (<768px) -->
                <a class="btn-icon mobile-only" href="{{ url_for('landing_page') }}">
                    <img src="{{ url_for('static', filename='icons/home_1.svg') }}" 
                    alt="Retour à l'accueil">
                </a>
            </div>
            
            <!-- Image du logo -->
            <div class="imgcontainer-form">
                <img src="{{ url_for('static', filename='Images/images_accueil/logo_png.png') }}" alt="Logo de SethiarWorks"
                     class="avatar-form">
            </div>

            <div class="space-form"></div>

            <!--titre -->
            <h1 class="comment-title">Espace de commentaires</h1>

            <div class="space-form"></div>
            
            <!-- division pour image forum -->
            <div class="comment-image-container">

                <!-- image centrale -->
                <div class="image-comment">
                    <img src="{{ url_for('static', filename='images/images_comment/comment1.png') }}"
                         alt="Image comment">
                </div>
            </div>

            <div class="space-form"></div>
            
            <!-- Séparation -->
            <hr class="politique-divider">

            <!-- Conteneur d'ajout de catégories -->
            <div class="form-container">
                <!-- Formulaire d'ajout de sujet pour connecté -->
                <form method="POST" action="{{ url_for('user.add_subject_comment') }}">

                    <!-- Token CSRF pour la sécurité -->
                    {{ formsubjectcomment.csrf_token }}
                    
                    <div class="form flex-container">
                        <!-- Champ pour le nouveau sujet -->
                        <div class="field">
                            {{ formsubjectcomment.name.label }}
                            {{ formsubjectcomment.name(size=20) }}
                        </div>
                    
                        <!-- Conteneur du bouton de soumission au sujet -->
                        <div class="container-btn-comment">
                            <button type="submit" class="btn-icon">
                                <img src="{{ url_for('static', filename='icons/plus_1.svg') }}" alt="Envoyer">            
                            </button>  
                        </div>
                    </div>
                </form>  
            </div>

            <div class="space2"></div>

            <!-- Liste des sujets -->
            <div class="subjects-container">
                <h4 class="section-title">Sujets disponibles</h4>

                <!--tableau des sujets -->
                <table class="subjects-table">
                    <thead>
                    <tr>
                        <th>Sujet</th>
                        <th>Auteur</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for subject in subjects %}
                        <tr>
                            <td>{{ subject.name }}</td>
                            <td>{{ subject.author_display }}</td>
                            <td>
                                <a href="{{ url_for('frontend.subject_comment', subject_id=subject.id) }}"
                                    class="btn-secondary">
                                        Voir
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_content %}

{% endblock %}