{% extends 'base.html.jinja2' %}

{% block head_content %}
<meta name="description"
      content="Espace du site permettant de discuter, interagir et donner son avis sur le site de l'entreprise SethiarWorks.">
<title>{% block title %}Bienvenue sur l'espace de commentaire du site SethiarWorks{% endblock %}</title>
<!-- CSS Principal -->
<link rel="stylesheet" href="{{ url_for('static', filename='gen/style.css') }}?v=1.0">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js"></script>

{{ moment.include_moment() }}

{% endblock %}

{% block header_content %}
{% endblock %}

{% block main_content %}

<!-- Conteneur principal -->
<div class="main-content">

    <!-- Cadre extérieur -->
    <div class="outer-frame-politique">

        <!-- Cadre intérieur -->
        <div class="inner-frame-politique">

            <!-- Image du logo -->
            <div class="imgcontainer-form">
                <img src="{{ url_for('static', filename='images/images_accueil/logo_png.png') }}" 
                    alt="Logo de SethiarWorks"
                    class="avatar-form">
            </div>

            <div class="space"></div>

            <!--Titre -->
            <h1 class="comment-title">Espace de commentaires</h1>

            <div class="space"></div>

            <!-- Division pour image forum -->
            <div class="comment-image-container">

                <!-- Image centrale -->
                <div class="image-comment">
                    <img src="{{ url_for('static', filename='images/images_comment/comment1.png') }}"
                         alt="Image comment">
                </div>
                
            </div>
            
            <div class="space-form"></div>
            
            <!-- Séparation -->
            <hr class="politique-divider">

            <!-- Conteneur du sujet -->
            <div class="container-subject-comment">
                <h3 class="comment-subtitle">
                    Discussion sur le sujet : <span class="subject-name"><u>{{ subject.name }}</u></span>
                </h3>
            </div>

            <!-- Conteneur principal des commentaires -->
            <div class="comment">

                <!-- Conteneur commentaire -->
                <div class="comment-avis">
                    <h3 class="comment-subtitle">Vous pouvez laisser un commentaire :</h3>
                </div>

                <div class="space-form"></div>
                
                <!-- Conteneur formulaire du commentaire -->
                <div class="form-comment">
                    <form method="POST"
                          action="{{ url_for('user.comment_enterprise', user_enterprise_name=current_user.enterprise_name if current_user.is_authenticated else 'Anonyme') }}">
                        {{ formcomment.csrf_token }}

                        <input type="hidden" name="subject_id" value="{{ subject_id }}">
                        <input type="hidden" name="user_enterprise_name" 
                               value="{{ current_user.enterprise_name if current_user.is_authenticated else 'Anonyme' }}">
                        
                        <textarea name="comment_content" placeholder="Votre commentaire" required></textarea>
                        
                        <div class="space-form"></div>

                        <div>
                            <button class="btn-comment" type="submit">Poster le commentaire</button>
                        </div>
                        
                    </form>
                </div>
            </div>

            {# --------------------- #}
            {# COMMENTAIRES CONNECTÉS #}
            {# --------------------- #}

            {% for comment in comment %}
            <div class="container-comment">

                <!-- Entête commentaire -->
                <div class="comment-header">
                    <img src="{% if comment.author_user %}
                                   {{ url_for('user.profil_photo', user_id=comment.author_user.id) }} 
                              {% else %}
                                   {{ url_for('static', filename='images/images_profil/default_profile_photo.png') }}
                              {% endif %}"     
                        alt="Photo de profil"
                         class="profile-picture">

                    <div class="comment-user-info">
                        {% if comment.author_user %}
                            <strong class="user-enterprise-name">{{ comment.author_user.enterprise_name }}</strong>
                            <span class="user-role">{{ comment.author_user.role }} a commenté :</span>
                        {% else %}
                            <strong class="user-enterprise-name">Utilisateur anonyme</strong>
                            <span class="user-role">a commenté :</span>
                        {% endif %}
                        <small class="comment-date">
                            Le {{ moment(comment.comment_date).format('DD-MM-YYYY à HH:mm') }}
                        </small>
                    </div>
                </div>

                <!-- Corps commentaire -->
                <div class="comment-body">
                    <p class="content-comment">
                        {{ comment.comment_content | replace('\n', '<br>') | safe }}
                    </p>
                </div>

                <div class="politique-divider"></div>

                {% if comment.user_id == current_user.id %}
                <div class="comment-actions">
                    <button>
                        <a href="{{ url_for('user.change_comment', id=comment.id) }}" class="change-comment-btn">
                            Modifier le commentaire
                        </a>
                    </button>

                    <form action="{{ url_for('user.delete_comment', id=comment.id) }}" method="POST"
                          class="delete-comment-form">
                        {{ formsuppress.csrf_token }}
                        <button type="submit" class="suppress-comment-btn"
                                onclick="return confirm('Êtes-vous certain-e de vouloir supprimer votre commentaire ?'); ">
                            Supprimer le commentaire
                        </button>
                    </form>
                </div>
                {% endif %}

                <div class="reply-btn-container">
                    <a href="{{ url_for('user.comment_replies', comment_id=comment.id) }}"
                       class="reply-btn">
                        Répondre
                    </a>
                    
                </div>

                {# ----------------- #}
                {# RÉPONSES CONNECTÉS #}
                {# ----------------- #}

                <div class="replies-container">
                    {% for reply in replies[comment.id] %}
                    <div class="reply-card">
                        <div class="reply-header">
                            {% if reply.user %}
                            <img src="{{ url_for('user.profil_photo', user_id=reply.user_id) }}"
                                alt="Photo de profil" class="reply-profile-picture">
                            {% else %}
                            <img src="{{ url_for('static', filename='images/images_profil/default_profile_photo.png') }}"
                                alt="Photo de profil" class="reply-profile-picture">
                            {% endif %}
                            <div class="reply-user-info">
                                <strong class="reply-user-enterprise-name">{{ reply.user.enterprise_name }}</strong>
                                <span class="reply-user-role">{{ reply.user.role }} a répondu :</span>
                                <small class="reply-date">
                                    Le {{ moment(reply.reply_date).format('DD-MM-YYYY à HH:mm') }}
                                </small>
                            </div>
                        </div>

                        <div class="reply-body">
                            <p class="reply-content">
                                {{ reply.reply_content | replace('\n', '<br>') | safe }}
                            </p>
                        </div>

                        <div class="politique-divider"></div>

                        {% if reply.user_id == current_user.id %}
                        <div class="comment-actions">
                            <button>
                                <a href="{{ url_for('user.change_reply', id=reply.id) }}" class="change-comment-btn"
                                   style="margin-left:10%;">
                                    Modifier la réponse
                                </a>
                            </button>

                            <form action="{{ url_for('user.delete_reply', id=reply.id) }}" method="POST"
                                  class="delete-comment-form">
                                {{ formsuppressreply.csrf_token }}
                                <button type="submit" class="suppress-comment-btn"
                                        onclick="return confirm('Êtes-vous certain-e de vouloir supprimer votre réponse ?');">
                                    Supprimer la réponse
                                </button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                {#----------------------------------------------#}
                {# RÉPONSES CONNECTÉES À UN COMMENTAIRE ANONYME #}
                {#----------------------------------------------#}

                <div class="replies-container">
                    {% if user_anonymous_replies[comment.id] %}
                    {% for reply in user_anonymous_replies[comment.id] %}

                    <div class="reply-card">
                        <div class="reply-header">
                            <img src="{{ url_for('user.profil_photo', user_id = reply.user_id ) }}"
                                alt="Photo de profil" class="reply-profile-picture">
                        
                            <div class="reply-user-info">
                                <strong class="reply-user-enterprise-name">Utilisateur anonyme</strong>                       
                                <span class="reply-user-role">a répondu :</span>
                                <small class="reply-date">
                                    Le {{ moment(reply.reply_date).format('DD-MM-YYYY à HH:mm') }}                
                                </small>         
                            </div>
                        </div>
                        <div class="reply-body">
                            <p class="reply-content">
                                {{ reply.reply_content | replace('\n', '<br>') | safe }}
                            </p>
                        </div>

                        <div class="politique-divider"></div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                
                {#---------------------------------------------#}
                {# RÉPONSES ANONYMES À UN COMMENTAIRE CONNECTÉ #}
                {#---------------------------------------------#}

                <div class="replies-container">
                    {% if anonymous_user_replies[comment.id] %}
                    {% for reply in anonymous_user_replies[comment.id] %}
        
                    <div class="reply-card">
                        <div class="reply-header">
                            <img src="{{ url_for('static', filename='images/images_profil/default_profile_photo.png') }}"
                                alt="Photo de profil" class="reply-profile-picture">
                    
                            <div class="reply-user-info">
                                <strong class="reply-user-enterprise-name">Utilisateur anonyme</strong>                       
                                <span class="reply-user-role">a répondu :</span>
                                <small class="reply-date">
                                    Le {{ moment(reply.reply_date).format('DD-MM-YYYY à HH:mm') }}                
                                </small>         
                            </div>
                        </div>
                        <div class="reply-body">
                            <p class="reply-content">
                                {{ reply.reply_content | replace('\n', '<br>') | safe }}
                            </p>
                        </div>

                        <div class="politique-divider"></div>
                    </div>
                    {% endfor %}
                    {% endif %}
                     
                    <!-- Style à implémenter -->
                    <div class="space-reply"></div>
                
                </div>
            
                {# --------------------- #}
                {# RÉPONSES ANONYMES    #}
                {# --------------------- #}

                <div class="replies-container">
                    {% for reply in anonymous_replies[comment.id] %}
                    <div class="reply-card">
                        <div class="reply-header">
                            <img src="{{ url_for('static', filename='images/images_profil/default_profile_photo.png') }}"
                                alt="Photo de profil" class="reply-profile-picture">
                            <div class="reply-user-info">
                                <strong class="reply-user-enterprise-name">Utilisateur anonyme</strong>
                                <span class="reply-user-role">a répondu :</span>
                                <small class="reply-date">
                                    Le {{ moment(reply.reply_date).format('DD-MM-YYYY à HH:mm') }}
                                </small>
                            </div>
                        </div>

                        <div class="reply-body">
                            <p class="reply-content">
                                {{ reply.reply_content | replace('\n', '<br>') | safe }}
                            </p>
                        </div>

                        <div class="politique-divider"></div>
                    </div>
                    {% endfor %}
                </div>               
            </div>
            {% endfor %}

            <div class="space2"></div>

        </div>

        <hr class="politique-divider">

        <div class="back-link-comment">
            <a class="btn-primary desktop-only" href="{{ url_for('landing_page') }}">
                Retour à l'accueil
            </a>
            <a class="btn-primary desktop-only" href="{{ url_for('frontend.comments') }}">
                Retour à la sélection des sujets
            </a>

            <a class="btn-icon mobile-only" href="{{ url_for('landing_page') }}">
                <img src="{{ url_for('static', filename='icons/home_1.svg') }}" alt="Retour à l'accueil">
            </a>
            <a class="btn-icon mobile-only" href="{{ url_for('frontend.comments') }}">
                <img src="{{ url_for('static', filename='icons/subject.svg') }}" alt="Retour à la sélection des sujets">
            </a>
        </div>
    </div>
</div>


{% endblock %}

{% block footer_content %}
{% endblock %}