<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">

    <!-- Preload Google Fonts -->
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Anonymous+Pro&family=Italiana&family=Lato:wght@400;700&display=swap" onload="this.rel='stylesheet'">
    
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Anonymous+Pro&family=Italiana&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    </noscript>

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">

    <!-- CSS Principal -->
    <link rel="stylesheet" hrel="{{ url_for('static', filename='gen/style.css') }}?v=1.0">

    <!-- Intégration de swiper.js pour carrousel -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    {% block head_content %}
    {% endblock %}
</head>

<!-- Body -->
<body>
<div class="layout">
    <!-- Header -->
    <header class="header">
        <div class="nav-container">
            
            <nav class="nav-links" aria-label="Navigation principale">
                <ul>
                    <li><a href="{{ url_for('landing_page') }}">Accueil</a></li>
                    <li><a href="{{ url_for('landing_page') }}#products">Produits</a></li>
                    <li><a href="{{ url_for('frontend.comments') }}">Commentaires</a></li>
                    <li><a href="#" target="_blank">Portfolio (Bientôt)</a></li>
                    <li><a href="{{ url_for('functional.contact') }}">Contact</a></li>
                </ul>
            </nav>
        </div>

        <div class="space2"></div>

        <!-- Actions utilisateur -->
        <div class="actions">
            
            {% if logged_in %}

            <div class="separation1"></div>

                <div class="logged">
                    <p> Bienvenue M. / Mme <u>{{ user.lastname }}</u></p>
                </div>
                
                <div class="logged-2">
                    <p> Comment pouvons-nous aider votre entreprise <i>{{ user.enterprise_name }}</i> ?</p>
                </div>
            {% endif %}

            <div class="buttons-actions">
                <a href="{{ url_for('chat.chat_request') }}" class="btn-primary">Demande de chat vidéo</a>
                <a href="{{ url_for('user.user_devis') }}" class="btn-primary">Demander un devis</a>
                
                <div class="space2"></div>
                
                <div class="separation1"></div>

                <div class="space2"></div>

                {% if logged_in %}
                <a href="{{ url_for('auth.user_logout') }}" class="btn-primary">Se déconnecter</a>
                {% else %}
                <a href="{{ url_for('auth.user_connection') }}" class="btn-primary">Se connecter</a>
                {% endif %}
            </div>
        </div>
    </header>
    
    <!-- Menu hamburger pour mobile -->
    <button class="hamburger" aria-label="Ouvrir le menu">
        <span class="line"></span>
        <span class="line"></span>  
        <span class="line"></span>
    </button>

    {% block header_content %}
    {% endblock %}
</div>

<!-- Contenu principal -->
<main>
    {% block main_content %}
    {% endblock %}
</main>

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <section class="footer-section">
                <h3>Informations</h3>
                <ul>
                    <li>Email : <a href="mailto:sethiarworks@gmail.com">sethiarworks@gmail.com</a></li>
                    <li>Adresse : Caen, Normandie, France</li>
                    <li><a href="{{ url_for('functional.informations') }}">Informations sur le créateur du site</a></li>
                </ul>
            </section>
            <section class="footer-section">
                <h3>Mentions Légales</h3>
                <ul>
                    <li><a href="{{ url_for('functional.politique') }}">Politique de confidentialité</a></li>
                    <li><a href="{{ url_for('functional.mentions') }}">Mentions Légales</a></li>
                </ul>
            </section>
            <section class="footer-section">
                <h3>Réseaux Sociaux</h3>
                <ul>
                    <li><a href=https://fr.pinterest.com/alefetey123/ target="_blank"><i
                            class="fab fa-pinterest"></i> Pinterest</a></li>
                    <li><a href="https://www.instagram.com/lefeteya/" target="_blank"><i class="fab fa-instagram"></i>
                        Instagram</a></li>
                    <li><a href="https://www.linkedin.com/in/arnaud-lefetey-aa8193267/" target="_blank"><i
                            class="fab fa-linkedin"></i> Linkedin</a></li>
                </ul>
            </section>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 SethiarWorks. Tous droits réservés.</p>
        </div>
    </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', () => {
  const hamburger = document.querySelector('.hamburger');
  const header = document.querySelector('.header');
  const mainContent = document.querySelector('.main-content'); // Contenu principal

  if (hamburger && header && mainContent) {
    // S'assurer que la marge du contenu principal est correcte au chargement
    if (header.classList.contains('active')) {
      mainContent.style.marginTop = `${header.offsetHeight}px`;
    } else {
      mainContent.style.marginTop = '0';
    }

    // Ajouter un gestionnaire d'événement au clic sur le menu hamburger
    hamburger.addEventListener('click', () => {
      // Toggle les classes actives
      hamburger.classList.toggle('active');
      header.classList.toggle('active');

      // Gère le décalage du contenu principal
      if (header.classList.contains('active')) {
        mainContent.style.marginTop = `${header.offsetHeight}px`;
      } else {
        mainContent.style.marginTop = '0';
      }
    });
  } else {
    console.error(
      'Un ou plusieurs éléments nécessaires sont manquants : .hamburger, .header, ou .main-content.'
    );
  }
});
</script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" defer></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" defer></script>
<script src="{{ url_for('static', filename='javascript/menu_mobile.js') }}" defer></script>
<script src="{{ url_for('static', filename='javascript/accueil.js') }}" defer></script>
<script src="{{ url_for('static', filename='javascript/animations.js') }}" defer></script>
<script src="{{ url_for('static', filename='javascript/carrousel.js') }}" defer></script>

{% block footer_content %}
{% endblock %}
</body>
</html>
