<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <!-- Styles CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='gen/style.css') }}?v=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
    {{ moment.include_moment() }}
    {% block head_content %}
    {% endblock %}
</head>

<!-- body -->
<body>

    <div class="space"></div>

    <h1 class="h1-backend">Bienvenue sur la page administrateur</h1>
    
    <header class="header-backend">
        {% block header_content %}
            <nav class="nav-backend">
                <a class="btn-primary" href="{{ url_for('auth.logout_admin') }}">Se déconnecter en tant qu'administrateur</a>
                <a class="btn-primary" href="{{ url_for('landing_page') }}">Aller sur la page d'accueil du site entreprise</a>
                <a class="btn-primary" href="{{ url_for('admin.backend') }}">Retour au back-end</a>
                <a class="btn-primary" href="{{ url_for('admin.create_user_form') }}">Créer l'utilisateur administrateur</a>
            </nav>
        {% endblock %}
    </header>

    {% block body_content %}
        <div class="space"></div>

        <!-- Salutations administrateur -->
        <div class="annonce-back">
            {% if logged_in %}
                <div class="logged">
                    <p>
                        Bienvenue {{ current_user.pseudo }}<br>
                    
                        Vous êtes connecté en tant que : <b>{{ current_user.role }}</b>
                    </p>
                    
            {% endif %}
        </div>

        <div class="space"></div>
        
        <!-- Actions de l'administrateur -->
        <div class="btn-container">
            <a href="{{ url_for('admin.calendar') }}" class="btn-primary">Aller au calendrier des rendez-vous du chat vidéo</a>
            <a href="{{ url_for('admin.list_devis') }}" class="btn-primary"> Aller à la liste des devis</a>
            <a href="{{ url_for('admin.list_subjects_admin') }}" class="btn-primary">Aller à la liste des sujets</a>
            <a href="{{ url_for('admin.users_list') }}" class="btn-primary">Aller à la liste des utilisateurs</a>
            <a href="{{ url_for('admin.list_comments_customer') }}" class="btn-primary">Aller à la liste des commentaires utilisateurs</a>
            <a href="{{ url_for('admin.subject_anonymous_list') }}" class="btn-primary">Aller à la liste des sujets anonymes</a>
            <a href="{{ url_for('admin.anonymous_comments_list') }}" class="btn-primary">Aller à la liste des commentaires anonymes</a>
            <a href="{{ url_for('admin.anonymous_replies_list') }}" class="btn-primary">Aller à la liste des réponses anonoymes</a>
            <a href="{{ url_for('auth.logout_admin') }}" class="btn-secondary">Se déconnecter du back end</a>
        </div>
    {% endblock %}

    <div class="space"></div>

    </body>
</html>