<!DOCTYPE html>
<html lang="fr">

    <!-- head -->
    <head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-NBQKZ8X6');</script>
        <!-- End Google Tag Manager -->
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	    
        <!-- Styles CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='gen/style.css') }}?v=1.0">

        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
	
        {% block head_content %}
	    {% endblock %}
    </head>

    <!-- body -->
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NBQKZ8X6"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
        <header>
            {% block header_content %}
            {% endblock %}

            {% block body_content %}
            {% endblock %}
    
        <script>
            function togglePassword(fieldId) {
                const passwordField = document.getElementById(fieldId);
                const passwordToggle = passwordField.nextElementSibling.querySelector('i');

                // Vérifier le type du champ actuel et basculer entre 'password' et 'text'
                if (passwordField.type === "password") {
                    passwordField.type = "text";
                    passwordToggle.classList.remove('fa-eye');
                    passwordToggle.classList.add('fa-eye-slash');
                } else {
                    passwordField.type = "password";
                    passwordToggle.classList.remove('fa-eye-slash');
                    passwordToggle.classList.add('fa-eye');
                }
            }
        </script>

    </body>
</html>