{% extends 'base2.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Page de d'informations du site de l'entreprise SethiarWorks.">
    <title>{% block title %}Contacts{% endblock %}</title>
{% endblock %}

{% block main_content %}

<h1>Informations</h1>
<br>
<p>Dernière mise à jour : 1 juillet 2025</p>
<a href="{{ url_for('landing_page') }}">Retour à l'accueil</a>
<div class="separation">

</div>
<br>
<div class="container-informations">

</div>

{% endblock %}
{% block footer_content %}
{% endblock %}