{% extends 'baseform.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Réinitialisation du mot de passe utilisateur">
<title>{% block title %}Réinitialisation du mot de passe Utilisateur{% endblock %}</title>
{% endblock %}

{% block header_content %}
{% endblock %}

{% block body_content %}
<div class="reset-password">
    <!-- Image du logo -->
    <div class="imgcontainer-form">
        <img src="{{ url_for('static', filename='images/images_accueil/logo_png.png') }}" alt="Logo de SethiarWorks"
             class="avatar-form">
    </div>
    <div class="form-container">
        <form method="POST" action="{{ url_for('auth.recording_new_password', token=token) }}" class="form-base">
            <div class="form-group">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                {{ formpassword.hidden_tag() }}

                <!-- Champ pour le mot de passe -->
                <div class="form-group">
                    {{ formpassword.new_password.label }} {{ formpassword.new_password(size=32) }}
                    <span class="toggle-password" onclick="togglePassword('new_password')" aria-controls="password">
                        <i class="fas fa-eye"></i>
                    </span>
                    {% if formpassword.new_password.errors %}
                    <ul>
                        {% for error in formpassword.new_password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <!-- Champ pour la vérification du mot de passe -->
                <div class="form-group">
                    {{ formpassword.confirm_password.label }} {{ formpassword.confirm_password(size=32) }}
                    <span class="toggle-password" onclick="togglePassword('confirm_password')"><i
                            class="fas fa-eye"></i></span>
                    {% if formpassword.confirm_password.errors %}

                    <ul>{% for error in formpassword.confirm_password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <button class="button-primary" type="submit">Réinitialiser son mot de passe</button>

            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footer_content %}
{% endblock %}