{% extends 'baseform.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Réinitialisation du mot de passe utilisateur">
<title>{% block title %}Réinitialisation du mot de passe Utilisateur{% endblock %}</title>
{% endblock %}

{% block header_content %}
{% endblock %}

{% block body_content %}
<div class="outer-frame">
    <div class="inner-frame">
        
        <!-- Titre du formulaire -->
        <h2 class="h2-form">Formulaire d'enregistrement du nouveau mot de passe</h2>
        
        <form method="POST" action="{{ url_for('auth.recording_new_password', token=token) }}" class="form-base">
            
            <!-- Image du logo -->
            <div class="imgcontainer-form">
                <img src="{{ url_for('static', filename='images/images_accueil/logo_png.png') }}" 
                    alt="Logo de SethiarWorks"
                    class="avatar-form">
            </div>
    
            <!-- Titre de la section du formulaire d'enregistrment-->
            <h3 class="h3-form">Enregistrement du mot de passe</h3>

            {{ formpassword.hidden_tag() }}
            
            <div class="space-form"></div>

            <!-- Conteneur de l'enregistrement du mot de passe -->
            <div class="form-group">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <!-- Champ pour le mot de passe -->
            <div class="form-group">
                {{ formpassword.new_password.label }}<br>
                {{ formpassword.new_password() }}
                <span class="toggle-password" onclick="togglePassword('new_password')" aria-controls="new-password" aria-label="Afficher/Masquer le mot de passe">
                    <i class="fas fa-eye"></i>
                </span>
                {% if formpassword.new_password.errors %}
                    <ul>
                        {% for error in formpassword.new_password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Champ pour la vérification du mot de passe -->
            <div class="form-group">
                {{ formpassword.confirm_password.label }}<br>
                {{ formpassword.confirm_password() }}
                    
                <span class="toggle-password" onclick="togglePassword('confirm_password')" aria-controls="password" aria-label="Afficher/Masquer le mot de passe">
                    <i class="fas fa-eye"></i>
                </span>
                
                {% if formpassword.confirm_password.errors %}
                    <ul>
                        {% for error in formpassword.confirm_password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Conteneur des boutons -->
            <div class="container-btn">
                <button class="btn-primary" type="submit" aria-label="Soumettre le formulaire pour réinitiailiser le mot de passe">
                    Réinitialiser son mot de passe
                </button>
            </div>

        </form>
    </div>
</div>

{% endblock %}

{% block footer_content %}
{% endblock %}