{% extends 'baseform.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Réinitialisation du mot de passe utilisateur">
<title>{% block title %}Réinitialisation du mot de passe Utilisateur{% endblock %}</title>
{% endblock %}

{% block header_content %}
{% endblock %}

{% block body_content %}
<div class="outer-frame">
    <div class="inner-frame">
    
        <!-- Titre du formulaire -->
        <h2 class="h2-form">Formulaire afin de réinitialiser son mot de passe utilisateur</h2>
    
        <form method="POST" action="{{ url_for('auth.password_reset') }}" class="form-base">
    
            <!-- Image du logo -->
            <div class="imgcontainer-form">
                <img src="{{ url_for('static', filename='images/images_accueil/logo_png.png') }}" 
                    alt="Logo de SethiarWorks"
                    class="avatar-form">
            </div>
        
            <!-- Titre de la section réinitialisation mot de passe-->
            <h3 class="h3-form">Réinitialisation mot de passe</h3>

            <!-- hidden_tag pour génération du token CSRF pour la sécurité -->    
            {{ form_password.hidden_tag() }}

            <div class="space-form"></div>
        
            <!-- Conteneur de la réinitialisation du mot de passe -->
            <div class="form-group">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
            
                            <div class="alert alert-{{ category }}" role="alert" aria-live="assertive">
                                {{ message }}
                            </div>
            
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                
                <!-- Champ pour l'email utilisateur -->
                {{ form_password.email.label }}<br>
                {{ form_password.email() }}
                
                <!-- Conteneur des boutons -->
                <div class="container-btn">
                    <button class="validated-btn" type="submit" aria-label="Soumettre le formulaire pour réinitiailiser le mot de passe">
                        Réinitialiser son mot de passe
                    </button>
                </div>
                
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footer_content %}
{% endblock %}