{% extends 'baseform.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Réinitialisation du mot de passe utilisateur">
<title>{% block title %}Réinitialisation du mot de passe Utilisateur{% endblock %}</title>
{% endblock %}

{% block header_content %}
{% endblock %}

{% block body_content %}
<div class="reset-password">
    <!-- Image du logo -->
    <div class="imgcontainer-form">
        <img src="{{ url_for('static', filename='images/images_accueil/logo_png.png') }}" alt="Logo de SethiarWorks"
             class="avatar-form">
    </div>
    <div class="form-container">
        <form method="POST" action="{{ url_for('auth.password_reset') }}" class="form-base">
            <div class="form-group">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                {{ form_password.hidden_tag() }}
                <p>
                    {{ form_password .email.label }}<br>
                    {{ form_password.email(size=32) }}
                </p>
                <button class="btn-primary-registration" type="submit">Réinitialiser son mot de passe</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block footer_content %}
{% endblock %}