{% extends 'base2.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Page de remerciements pour une demande de devis sur le site de l'entreprise SethiarWorks.">
<title>{% block title %}Merci de votre demande de devis{% endblock %}</title>
{% endblock %}

{% block main_content %}
<div class="outer-frame-politique">
    <div class="inner-frame-politique">
        <main class="politique-main">
            <div class="politique-border">

                <!--titre -->
                <h1 class="politique-title">Remerciements de votre demande de devis</h1>

                <!-- Section : Mise à jour et retour -->
                <div class="politique-header">
                    <a href="{{ url_for('landing_page') }}" class="politique-home-link">Retour à l'accueil</a>
                </div>
            </div>

            <!-- Séparation -->
            <hr class="politique-divider">

            <!-- Logo -->
            <div class="politique-logo">
                <img src="{{ url_for('static', filename='images/images_accueil/logo_png.png') }}"
                     alt="Logo de SethiarWorks"
                     class="politique-logo-img">
            </div>

            <!-- Contenu principal -->
            <div class="contact-content">

                <!-- Carte de visite SethiarWorks -->
                <div class="cart-sethiar">
                    <!-- Verso -->
                    <img src="{{ url_for('static', filename='images/images_sethiarworks/cart_sethiar.png') }}"
                         alt="carte de visite de SethiarWorks"
                         class="SethiarCart-pic-contact">

                    <!-- Recto -->
                    <img src="{{ url_for('static', filename='images/images_sethiarworks/cart_sethiar2.png') }}"
                         alt="carte de visite de SethiarWorks"
                         class="SethiarCart-pic-contact">
                </div>
            </div>
          <div class="annonce">
            <p>Nous vous remercions pour votre demande de devis et nous reviendrons très bientôt
              vers vous afin de vous informer de notre réponse concernant votre demande.</p>
            <div class="space2"></div>
              <p>Cordialement, l'équipe de SethiarWorks.</p>
          </div>
        </main>
    </div>
</div>
{% endblock %}
{% block footer_content %}
{% endblock %}