{% extends 'baseform.html.jinja2' %}

{% block head_content %}
<meta name="description" content="Formulaire de réponse par un utilisateur au sujet posté sur l'espace de commentaires.">
<title>{% block title %}Réponse au sujet de l'espace de commentaires{% endblock %}</title>
{% endblock %}

{% block header_content %}

{% endblock %}

{% block body_content %}
<!-- Cadre externe -->
<div class="outer-frame">
    <!-- Cadre interne -->
    <div class="inner-frame">

        <!-- Titre du formulaire -->
        <h2 class="h2-form">Voici le formulaire pour écrire une réponse aux sujets postés sur l'espace de commentaires.</h2>

        <form method="POST" class="form-base"
              action="{{ url_for('user.comment_replies', comment_id=comment.id) }}">
            <!-- Image du logo -->
            <div class="imgcontainer-form">
                <img src="{{ url_for('static', filename='images/images_accueil/logo_png.png') }}"
                     alt="Logo de SethiarWorks"
                     class="avatar-form">
            </div>

            <!-- Titre de la section du formulaire -->
            <h3 class="h3-form">Réponse au commentaire</h3>

            <!-- hidden_tag pour génération du token CSRF pour la sécurité -->
            {{ formreply.csrf_token }}

            {{ formreply.comment_id(value=comment.id) }}
            
            <div class="space-form"></div>

            <!-- Conteneur de la réponse au commentaire -->
            <div class="form-group">
                {{ formreply.reply_content.label }} {{ formreply.reply_content() }}
                
                <input type="hidden" name="subject_id" value="{{ comment.subject_id }}">

                <div class="container-btn">
                    <button type="submit" class="validated-btn" aria-label="Valider la réponse">Soumettre la réponse
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}